# These are (mostly) the default Mongo credentials. Modify as needed.
mongo:
    name: wagnaria
    host: localhost
    port: 27017
# Bind globally. These are only used if you run the app by itself.
bottle_run:
    host: 0.0.0.0
    port: 8080
    debug: False
    reloader: True
# Application-specific settings
app:
    title: Wagnaria!
