body { font-family: sans-serif; background: #f7f7f7; }
a { color: #9f2f3f; text-decoration: none; }


table { table-layout: fixed; width: 100%; }
#muffinbox .title { white-space: nowrap; overflow: hidden; text-overflow:ellipsis; }
#muffinbox th:nth-child(2) { width: 20%; }
.dl-horizontal > dd:after { display: table; content: ""; clear: both; }
dl { margin-bottom: 20px; }
dt, dd { line-height: 20px; }
dt { font-weight: bold; }
dd { margin-left: 10px; }
.dl-horizontal { *zoom: 1; }
.dl-horizontal:before, .dl-horizontal:after { display: table; content: ""; line-height: 0; }
.dl-horizontal:after { clear: both; }
.dl-horizontal dt { float: left; width: 160px; clear: left; text-align: right; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.dl-horizontal dd { margin-left: 180px; }

#basket { padding-left: 192px; left: 0; }
#食べ物 { width: 100%; }

#parasol { margin-left: -192px; width: 192px; position: fixed; top: 0px; left: 192px; bottom: 0px; z-index: 317; background: #1f1f1f; overflow-y: auto; -webkit-overflow-scroll: touch; }
#parasol a { color: #999; border: none; white-space: normal; padding: 0.6em 0 0.6em 0.6em; }
#parasol .pure-menu-open, #parasol .pure-menu ul { background: transparent; border: none; }
#parasol .pure-menu ul, #parasol .pure-menu .menu-item-divided { border-top: 1px solid #333; padding-top: 0.3em; margin-top: 0.3em; }
#parasol .pure-menu li a:hover, #parasol .pure-menu li a:focus { background: #333; }
.pure-menu-toggle { display: none; top: 0; left: 192px; background: rgba(0,0,0,0.2); color: #fff; font-size: 110%; padding: 0.6em 1.1em 0.6em 0.8em; margin-top: 0.5em; line-height: 1.5em; border-radius: 0 6px 6px 0; border: 1px solid #3f3f3f; border-left: none; }
.pure-menu-toggle:hover, .pure-menu-toggle:focus { background: #1f1f1f; }
#parasol .pure-menu-heading { font-size: 110%; color: #fff; }
#parasol .pure-menu-heading:hover, #parasol .pure-menu-heading:focus { color: #999; }
#parasol .pure-menu-selected { background: #df3f4f; }
#parasol .pure-menu-selected a { color: #fff; }
#parasol li.pure-menu-selected a:hover, #parasol li.pure-menu-selected a:focus { background: none; }

.pure-table thead { line-height: 2em; padding: 0.6em 0; background: #1f1f1f; color: #fff; }
.pure-table th { border-color: #333; }
.pure-table { border-width: 0 0 1px; }
#muffinbox { background: #fff; }
#muffinbox td { font-size: 0.9em; padding-top: 0.7em; padding-bottom: 0.7em; }

.stalk { background: #f7f7f7; color: #2f578f; font-size: 0.9em; padding: 2em; text-align: right; letter-spacing: normal; }

.show-header { border-bottom: 1px solid #dfdfdf; background: #1f1f1f; color: #fff; padding: 1em 2em; }
.show-body { padding: 1em 2em; }

.airing_now { background: #afef9f; }
.airing_1 { background: #ff3f4f; }
.airing_3 { background: #cf6f7f; }
.airing_6 { background: #afafdf; }
.airing_12 { background: #afcfef; }
.subbing { background: #dfdfff; }
.qc { background: #5fff67; }
.airing_now td, .airing_1 td, .airing_3 td, .airing_6 td, .airing_12 td, .subbing td, .qc td { border: none; }

.staff-status-disabled, .staff-status-false, .staff-status-true { color: rgba(0,0,0,0.8); padding: 0.1em 0.2em; }
.staff-status-false { background: rgba(247,47,55,0.8); }
.staff-status-true { background: rgba(31,191,55,0.9); }

#basket, #parasol, .pure-menu-toggle { -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
@media (max-width: 960px) {
    #basket { position: relative; padding-left: 0; }
    #basket.active { position: relative; left: 192px; }
    #basket.active #parasol { left: 192px; width: 192px; }
    #parasol { left: 0; }
    .pure-menu-toggle { position: fixed; left: 0; display: block;  }
    #basket.active .pure-menu-toggle { left: 192px; background: #1f1f1f; }
}

@media (max-width: 640px) {
    .pure-table { border-collapse: separate; }
    .pure-table td, .pure-table th { display: block; }
    .pure-table td:first-child { border-top: solid 2em #fff; }
    .pure-table td:last-child { border-bottom: solid 2px #cbcbcb; }
    .pure-table-horizontal tbody > tr:last-child td { border-bottom-width: 1px; }
}
