<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wagnaria!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
  <meta charset="utf-8" />
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="brand">Wagnaria</span>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li id="nav_airing"><a href="#">Airing</a></li>
            <li id="nav_future"><a href="#shows/unaired">Future</a></li>
            <li id="nav_incomplete"><a href="#shows/incomplete">Incomplete</a></li>
            <li id="nav_complete"><a href="#shows/complete">Completed</a></li>
            <li id="nav_staff"><a href="#staff">Staff</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    <div id="muffinbox"></div>
    <p class="text-right text-info">Times are local.</p>
  </div>
  <div id="muffin" class="modal hide fade" data-keyboard="true"></div>
  
  <!-- JavaScript -->
  <script src="lib/jquery-2.0.1.min.js"></script>
  <!--script src="lib/jquery.hotkeys.js"></script-->
  <script src="lib/moment.min.js"></script>
  <script src="lib/moment.ja.js"></script>
  <script src="lib/countdown.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>
  <script src="lib/underscore-min.js"></script>
  <script src="lib/backbone-min.js"></script>
  <script src="js/main.js"></script>

  <!-- Templates -->
  <script type="text/template" id="tpl-airing-item">
    <td class="title"><%= titles.english %></td>
    <td><%= local_date %></td>
    <td id="<%= id %>_cd"><%= eta %></td>
    <td><%= blame %></td>
  </script>
  <script type="text/template" id="tpl-complete-item">
    <td class="title"><%= titles.english %></td>
    <td><%= local_date %></td>
    <td><%= episodes.total %></td>
    <td><%= staff.translator.name %></td>
    <td><%= staff.editor.name %></td>
    <td><%= staff.timer.name %></td>
    <td><%= staff.typesetter.name %></td>
  </script>
  <script type="text/template" id="tpl-show-details">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3><%= titles.english %></h3>
    </div>
    <div class="modal-body">
      <dl class="dl-horizontal">
        <dt>Japanese Title</dt><dd><%= titles.japanese %></dd>
        <dt>Short Title/Abbr.</dt><dd><%= titles.short %></dd>
        <dt>Airtime (JST)</dt><dd><%= jst_date %></dd>
        <dt>Airtime (Local)</dt><dd><%= local_date %></dd>
        <dt>Episode Count</dt><dd><%= episodes.current %> / <%= episodes.total %></dd>
        <dt>Channel</dt><dd><%= channel %></dd>
      </dl>
      <h4>Staff</h4>
      <dl class="dl-horizontal">
        <dt>Translator</dt><dd class="<%= classes.status.tl %>"><%= staff.translator.name %></dd>
        <dt>Editor</dt><dd class="<%= classes.status.ed %>"><%= staff.editor.name %></dd>
        <dt>Timer</dt><dd class="<%= classes.status.tm %>"><%= staff.timer.name %></dd>
        <dt>Typesetter</dt><dd class="<%= classes.status.ts %>"><%= staff.typesetter.name %></dd>
      </dl>
      <p><a href="<%= link %>">Releases here.</a></p>
    </div>
  </script>
  <script type="text/template" id="tpl-member-item">
    <h5><%= name %></h5>
  </script>

</body>
</html>
