<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wagnaria!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pure-min.css" rel="stylesheet" media="screen">
  <link href="css/glyphs.min.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  <meta charset="utf-8" />
</head>
<body>

<div id="basket" class="pure-g-r">
  <span class="pure-menu-toggle" id="toggle">»</span>
  <div id="parasol" class="pure-u">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="/">Wagnaria</a>
      <ul>
        <li id="nav_airing"><a href="#">Airing</a></li>
        <li id="nav_future"><a href="#shows/unaired">Future</a></li>
        <li id="nav_incomplete"><a href="#shows/incomplete">Incomplete</a></li>
        <li id="nav_complete"><a href="#shows/complete">Completed</a></li>
        <li id="nav_staff" class="menu-item-divided"><a href="#staff">Staff</a></li>
      </ul>
    </div>
  </div>
  <div id="食べ物" class="pure-u">
    <div id="muffinbox"></div>
    <div class="stalk" id="tablefooter">Times are local.</div>
  </div>
</div>  
  <!-- JavaScript -->
  <script src="lib/jquery-2.0.1.min.js"></script>
  <!--script src="lib/jquery.hotkeys.js"></script-->
  <script src="lib/moment.min.js"></script>
  <script src="lib/moment.ja.js"></script>
  <script src="lib/countdown.min.js"></script>
  <script src="lib/underscore-min.js"></script>
  <script src="lib/backbone-min.js"></script>
  <script src="js/main.js"></script>

  <!-- Templates -->
  <script type="text/template" id="tpl-airing-item">
    <td class="title"><%= titles.english %></td>
    <td><%= local_date %></td>
    <td id="<%= id %>_cd"><%= eta %></td>
    <td><%= blame %></td>
  </script>
  <script type="text/template" id="tpl-complete-item">
    <td class="title"><%= titles.english %></td>
    <td><%= local_date %></td>
    <td><%= episodes.total %></td>
    <td><%= staff.translator.name %></td>
    <td><%= staff.editor.name %></td>
    <td><%= staff.timer.name %></td>
    <td><%= staff.typesetter.name %></td>
  </script>
  <script type="text/template" id="tpl-show-details">
    <div class="pure-g">
      <div class="show-header pure-g">
        <button type="button" class="close back-button">×</button>
        <div class="pure-u-1-2">
          <h3><%= titles.english %></h3>
        </div>
      </div>
      <div class="show-body pure-g-r">
        <div class="pure-u-1-2">
          <dl class="dl-horizontal">
            <dt>Japanese Title</dt><dd><%= titles.japanese %></dd>
            <dt>Short Title/Abbr.</dt><dd><%= titles.short %></dd>
            <dt>Airtime (JST)</dt><dd><%= jst_date %></dd>
            <dt>Airtime (Local)</dt><dd><%= local_date %></dd>
            <dt>Episode Count</dt><dd><%= episodes.current %> / <%= episodes.total %></dd>
            <dt>Channel</dt><dd><%= channel %></dd>
          </dl>
        </div>
        <div class="pure-u-1-3">
          <dl class="dl-horizontal">
            <dt>Translator</dt><dd class="<%= classes.status.tl %>"><%= staff.translator.name %></dd>
            <dt>Editor</dt><dd class="<%= classes.status.ed %>"><%= staff.editor.name %></dd>
            <dt>Timer</dt><dd class="<%= classes.status.tm %>"><%= staff.timer.name %></dd>
            <dt>Typesetter</dt><dd class="<%= classes.status.ts %>"><%= staff.typesetter.name %></dd>
          </dl>
        </div>
      </div>
      <div class="stalk pure-g-r"><a href="<%= link %>">Releases here.</a></div>
    </div>
  </script>
  <script type="text/template" id="tpl-member-item">
    <h5><%= name %></h5>
  </script>

</body>
</html>
